// ------------------------------------
// Text Styles 
// ------------------------------------
    // use bootstrap variables overrides for:
    // body & heading font size
    // body & heading color
    // p & heading margin-bottom


    // Mixins for consistent use of font sizes
    //---------------------------------------------
        @mixin fs-45    { @include font-size(45); }
        @mixin fs-42    { @include font-size(42); }
        @mixin fs-38    { @include font-size(38); }
        @mixin fs-32    { @include font-size(32); }
        @mixin fs-26    { @include font-size(26); }
        @mixin fs-22    { @include font-size(22); }
        @mixin fs-20    { @include font-size(20); }
        @mixin fs-18    { @include font-size(18); }
        @mixin fs-16    { @include font-size(16); }
        @mixin fs-14    { @include font-size(14); }
        @mixin fs-12    { @include font-size(12); }
        @mixin fs-0     { @include font-size(0); }


    // CSS modifiers that override default style
    //---------------------------------------------
        .fs-45          { @include font-size--important(45); }
        .fs-42          { @include font-size--important(42); }
        .fs-38          { @include font-size--important(38); }
        .fs-32          { @include font-size--important(32); }
        .fs-26          { @include font-size--important(26); }
        .fs-22          { @include font-size--important(22); }
        .fs-20          { @include font-size--important(20); }
        .fs-18          { @include font-size--important(18); }
        .fs-16, .fs-p   { @include font-size--important(16); }
        .fs-14          { @include font-size--important(14); }
        .fs-12          { @include font-size--important(12); }
        .fs-0           { @include font-size--important(0); }


// ------------------------------------
// Margin Bottom 
// ------------------------------------
    h1, h2, h3, h4, h5, h6,
    .h1, .h2, .h3, .h4, .h5, .h6,
    p, .p {
        &:last-child,
        &:only-child {
            margin-bottom: 0px;
        }
    }


// Font Weight
//---------------------------------------------
   // Bootstrap $font-weight-bold variable



// Line Height
//---------------------------------------------
    // TO DO: Replace w/ Bootstrap 5 line-height utilities
    // https://getbootstrap.com/docs/5.0/utilities/text/#line-height
    .line-height-1 { line-height:   1; }
    .line-height-2 { line-height: 1.2; }
    .line-height-3 { line-height: 1.3; }
    .line-height-4 { line-height: 1.4; }
    .line-height-5 { line-height: 1.5; }


// Image Sizing
//---------------------------------------------
    // Bootstrap .img-fluid


// Link Styles
//---------------------------------------------
    // Bootstrap link variables
    // $link-color, $link-decoration, $link-hover-color, $link-hover-decoration:


// Block Quotes
//---------------------------------------------
    blockquote,
    .blockquote {
        // variable override: $blockquote-font-size
        line-height: 1.45;
        color: $info;
        font-style: normal;
        font-weight: 300;
        border: none;
        padding: 0;

        cite {
            // variable override: $blockquote-small-font-size
            // variable override: $blockquote-small-color
            font-weight: 300;
            font-style: normal;
            display: block;
            text-align: right;

            &:before {
                color: $body-color;
            }
        }
    }


// Buttons
// See Bootstrap variables for padding, font size, etc.
//---------------------------------------------