// ------------------------------------
// Helpers 
// ------------------------------------

	// REM Font Size Mixin
	//---------------------------------------------
	@mixin font-size($sizeValue: 16) {
	  font-size: $sizeValue + px;
	  font-size: ($sizeValue / 16) + rem;
	}
	@mixin font-size--important($sizeValue: 16) {
	  font-size: $sizeValue + px !important;
	  font-size: ($sizeValue / 16) + rem !important;
	}


	// Background Color Opacity Helper
	//---------------------------------------------
	  	// Remove – rgba supported down through IE 9


	// Truncate Text
	//---------------------------------------------
        // Bootstrap @mixin text-truncate() 
        // Bootstrap .text-truncate
        


	// Allow Text Wrap
	//---------------------------------------------
		// Bootstrap .text-wrap class


	// Hide Content based on DNN Status
	//---------------------------------------------
		.logged-in .hide-logged-in {
		  display: none !important;
		}

		.logged-out .hide-logged-out {
		  display: none !important;
		}


	// Crop Overflow
	//---------------------------------------------
		// Bootstrap .overflow-hidden class



	// Margin Spacings
	//---------------------------------------------
		// extend Bootstrap margin classes w/ additions 
        // to spacers array in variables.scss


	// Padding Spacings
	//---------------------------------------------
		// extend Bootstrap padding classes w/ additions 
        // to spacers array in variables.scss



    // Flex Helpers
    //---------------------------------------------
        @mixin display--flex{
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
        }
        .display--flex{
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
        }

        @mixin flex-direction--vertical{
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    -webkit-flex-direction: column;
                    flex-direction: column;
        }

        @mixin flex-direction--row{
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    -webkit-flex-direction: row;
                    flex-direction: row
        }

        @mixin flex--1{
            -webkit-box-flex: 1;
            -ms-flex: 1;
                -webkit-flex: 1;
                    flex: 1
        }


        @mixin flex-grow--0{
            -webkit-box-flex: 0;
                -ms-flex-positive: 0;
                    -webkit-flex-grow: 0;
                    flex-grow: 0
        }
        @mixin flex-grow--1{
            -webkit-box-flex:1;
                -ms-flex-positive:1;
                    -webkit-flex-grow:1;
                    flex-grow:1;
        }

        @mixin flex-grow--2{
            -webkit-box-flex:2;
                -ms-flex-positive:2;
                    -webkit-flex-grow:2 ;
                    flex-grow:2 ;
        }

        @mixin flex-grow--3{
            -webkit-box-flex:3;
                -ms-flex-positive:3;
                    -webkit-flex-grow:3;
                    flex-grow:3;
        }

        @mixin flex-wrap{
            -ms-flex-wrap:wrap;
              -webkit-flex-wrap:wrap;
                    flex-wrap:wrap;
        }
        .flex-wrap{
            -ms-flex-wrap:wrap;
              -webkit-flex-wrap:wrap;
                    flex-wrap:wrap;
        }

        @mixin flex-gutters{
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    -webkit-justify-content: space-between;
                    justify-content: space-between;    
        }

        // Center items vertically */
        @mixin align-items--center{
            -webkit-box-align: center;
                -ms-flex-align: center;
                        -ms-grid-row-align: center;
                    -webkit-align-items: center;
                            align-items: center;
        }
        .align-items--center{
            -webkit-box-align: center;
                -ms-flex-align: center;
                        -ms-grid-row-align: center;
                    -webkit-align-items: center;
                            align-items: center;
        }

        // Center items horizontally */
        @mixin justify-content--center{
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    -webkit-justify-content: center;
                    justify-content: center;  
        }
        .justify-content--center{
            -webkit-box-pack: center !important;
                -ms-flex-pack: center !important;
                    -webkit-justify-content: center !important;
                    justify-content: center !important;      
        }

        // Right align items */
        @mixin justify-content--end{
            -webkit-box-pack: end;
                -ms-flex-pack: end;
                    -webkit-justify-content: end;
                    justify-content: end;
        }
        .justify-content--end{
            -webkit-box-pack: end;
                -ms-flex-pack: end;
                    -webkit-justify-content: end;
                    justify-content: end;
        }


        // Left align items */
        @mixin justify-content--start{
            -webkit-box-pack: start;
                -ms-flex-pack: start;
                    -webkit-justify-content: flex-start;
                    justify-content: flex-start;
        }
        .justify-content--start{
            -webkit-box-pack: start;
                -ms-flex-pack: start;
                    -webkit-justify-content: flex-start;
                    justify-content: flex-start;
        }

        // Equal height columns */
        @mixin align-self--stretch {
            -ms-flex-item-align: stretch;
                -ms-grid-row-align: stretch;
                -webkit-align-self: stretch;
                    align-self: stretch;  
        }

        @mixin align-self--flex-end {
            -ms-flex-item-align: end;
                -webkit-align-self: flex-end;
                    align-self: flex-end;    
        }

        // Uneven flex columns */
        @mixin align-self--flex-start {
            -ms-flex-item-align: start;
                -webkit-align-self: flex-start;
                    align-self: flex-start;   
        }
