/*---------------------------------------------
Site Navigation
---------------------------------------------*/


/* Hover Open Dropdowns on Desktop
---------------------------------------------*/
@include media-breakpoint-up(md) {
	.nav-item.has-child:hover{
		.dropdown-menu{
			visibility: visible;
			display: block;
		}
	}

	.navbar{
		.navbar-nav{
			.nav-item:last-child{
				.dropdown-menu{
					left: initial;
					right: 0px;
				}
			}
		}
	}
}


/* DNN Boostrap Menu Conflict Fixes
---------------------------------------------*/
.navbar-nav{
	margin-left:0px; // Fix default.css ul conflict
}

/* Mobile Adjustments - Optional
---------------------------------------------*/
@include media-breakpoint-down(md) {
	#navbarNav{
		margin-top:15px;
		border-top: solid 1px $gray-500;

		.navbar-nav{
			.nav-item{
				border-bottom: solid 1px $gray-500;

				&.dropdown{
					.dropdown-menu{
						padding: 0px;
						border: 0px;

						.nav-item{
							border-bottom: 0px;
							border-top: solid 1px $gray-500;

							a{
								margin-left: 15px;
							}
							.dropdown-menu{
								.nav-item{
									a{
										margin-left:30px;
									}
								}
							}
						}
					}
				}				
			}
		}
	}
}
