$SkinPath: "/portals/_default/Skins/[PLACE SKIN NAME HERE]/";


// ------------------------------------
// Colors 
// ------------------------------------

  // define brand color variables
  $brand-red:       #B32317; // example

  // override Bootstrap defaults
  // $primary:             $variable;
  // $secondary:           $variable;
  // $light:               $variable;
  // $dark:                $variable;
  // $gray-100:            $variable;
  // $gray-200:            $variable;
  // $gray-300:            $variable;
  // $gray-400:            $variable;
  // $gray-500:            $variable;
  // $gray-600:            $variable;
  // $gray-700:            $variable;


  // array for brand colors not replacing Bootstrap default
  $brand-colors: () !default;
  $brand-colors: map-merge(
    (
      "red":        $brand-red,
    ),
    $brand-colors
  );


// ------------------------------------
// Text Colors 
// adds on to core bootstrap text colors
// eg .text-primary, .text-light
// ------------------------------------

  @each $color, $value in $brand-colors {
    .text-#{$color} {
        color: $value!important;
    }
  }


// ------------------------------------
// Background Colors 
// adds on to core bootstrap bg colors
// eg .bg-primary, .bg-success
// ------------------------------------
  
  @each $color, $value in $brand-colors {
    .bg-#{$color} {
      background-color: $value!important;
    }
  }


// ------------------------------------
// Border Colors 
// adds on to core bootstrap border colors
// eg .border-primary, .border-success
// ------------------------------------
  
  @each $color, $value in $brand-colors {
    .border-#{$color} {
      border-color: $value !important;
    }
  }


// ------------------------------------
// Bootstrap Updates 
// overrides from bootstrap > variables.scss
// ------------------------------------

  // additional margin padding classes
  // eg .mb-6
  $spacers: (
   6: ($spacer * 6.25),   // 100px
   7: ($spacer * 7.5),    // 120px
   8: ($spacer * 9.375)  // 150px
 );
